<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <.nav />
  </header>

  <main>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>

  <footer class="mt-32 bg-gray-900 sm:mt-56" aria-labelledby="footer-heading">
    <.footer />
  </footer>
</div>
